@import 'reset';
@import 'variable/global';
@import 'themes/normal';
@import 'themes/dark';
@import 'themes/gray';

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    height: 100vh;

    transition: var(--transition-theme);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px; /* ширина всей полосы прокрутки */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);        /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 2px solid var(--primary-color);  /* отступ вокруг бегунка */
}
