.sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);

    position: relative;

    transition: width 0.3s, var(--transition-theme);
}

.switchers {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.lang {
    color: var(--inverted-primary-color);
    margin-left: 20px;
}

.items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    &-btn {
        position: absolute;
        right: -32px;
        bottom: 32px;
    }

    & .switchers {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }
}
