.article-list {
    height: 100%;
}

.header {
    margin: 30px 30px 30px 0;
}

.card {
    margin-bottom: 30px;
    margin-right: 30px;
}

.small {
    .skeleton-footer {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}
