.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #08085b;
    --primary-color: #0232c2;
    --secondary-color: #004fff;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
